name: Build C

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4
          
      - name: Compile
        run: gcc -Wall -Wextra -o app main.c
